.navbar {
	position: absolute;
	z-index: 2;
	width: 100%;
	background: #292a2d52;
	backdrop-filter: blur(2px);
}

.navbar .desktop-nav {
	display: none;
	padding: 10px;
	gap: 40px;
	max-width: 900px;
	margin: auto;
}

.navbar .mobile-nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	width: 100%;
	background: #ffffffda;
	color: #192a30;
	gap: 20px;
	backdrop-filter: blur(10px);
	padding: 60px 10px 10px 10px;
	z-index: 2;
	overflow: hidden;
	transition: all 500ms ease-in-out;
	height: 320px;
}

.navbar .mobile-nav-close {
	height: 0;
	padding: 0;
}

.navbar a {
	font-size: 1.2em;
	font-weight: 600;
}

.navbar button {
	padding: 6px 20px;
	float: right;
	background-color: transparent;
	border: none;
	font-size: 1.8em;
	z-index: 100;
	position: relative;
	cursor: pointer;
}

.navbar span {
	display: block;
	height: 2px;
	width: 23px;
	background-color: white;
	margin: 5px;
}

.navbar .active-button {
	background-color: #292a2d52;
}

.navbar span {
	transition: transform 350ms ease-in-out, width 280ms ease-in-out,
		background-color 350ms;
}

.navbar .active-button span {
	background-color: #192a30;
}

.navbar .active-button span:first-child {
	transform: rotateZ(45deg) translate(4px, 4px);
}

.navbar .active-button span:nth-child(2) {
	width: 0;
}

.navbar .active-button span:last-child {
	transform: rotateZ(-45deg) translate(6px, -6px);
}

.navbar .links-container {
	/* display: none; */
	position: absolute;
	display: flex;
	gap: 20px;
	flex-direction: column;
	background-color: white;
	color: black;
	padding: 25px;
}
