.navbar {
	position: absolute;
	z-index: 2;
	width: 100%;
	background: #292a2d52;
	backdrop-filter: blur(2px);
}

.navbar .desktop-nav {
	display: none;
	padding: 10px;
	gap: 40px;
	max-width: 900px;
	margin: auto;
}

.navbar .mobile-nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	width: 100%;
	background: #ffffffda;
	color: #192a30;
	gap: 20px;
	backdrop-filter: blur(10px);
	padding: 60px 10px 10px 10px;
	z-index: 2;
	overflow: hidden;
	transition: all 500ms ease-in-out;
	height: 320px;
}

.navbar .mobile-nav-close {
	height: 0;
	padding: 0;
}

.navbar a {
	font-size: 1.2em;
	font-weight: 600;
}

.navbar button {
	padding: 12px 20px;
	float: right;
	background-color: transparent;
	border: none;
	font-size: 1.8em;
	z-index: 100;
	position: relative;
}

.navbar .active-button {
	color: #192a30;
}

.navbar .links-container {
	/* display: none; */
	position: absolute;
	display: flex;
	gap: 20px;
	flex-direction: column;
	background-color: white;
	color: black;
	padding: 25px;
}

@keyframes bounce {
	0%,
	20%,
	53%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
	40%,
	43% {
		-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		-webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
		transform: translate3d(0, -30px, 0) scaleY(1.1);
	}
	70% {
		-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		-webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
		transform: translate3d(0, -15px, 0) scaleY(1.05);
	}
	80% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		-webkit-transform: translateZ(0) scaleY(0.95);
		transform: translateZ(0) scaleY(0.95);
	}
	90% {
		-webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
		transform: translate3d(0, -4px, 0) scaleY(1.02);
	}
}
:root {
	--animate-duration: 1s;
	--animate-delay: 1s;
	--animate-repeat: 1;
}
.animate__bounce {
	-webkit-animation-name: bounce;
	animation-name: bounce;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
}

.animate__animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-duration: var(--animate-duration);
	animation-duration: var(--animate-duration);
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
